body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: #5fb404;
}

.quem-somos {
    background-color: #8181f7;
    color: #fff;
}

.parceiros {
    background-color: #58faf4;
}

.bg-footer {
    background-color: #000;
    color: #fff;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}